body {
    font-family: Arial, sans-serif;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 0%;
}

h1 {
    font-family: 'sans-serif';
    font-style: normal;
    font-size: 40px;
    color: #252B31;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

h2 {
    font-family: 'sans-serif';
    font-style: normal;
    font-size: 25px;
    color: #252B31;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
    font-family: 'Arial';
    font-style: normal;
    font-size: 20px;
    color: #252B31;
}

/*Блок меню*/

#menu {
    position: absolute;
    width: 1200px;
    height: 115px;
    background: #FAFEFF;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.45);
}

#menu a {
    font-style: normal;
    color: #252B31;
    text-decoration: none;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

    .logo {
        position: absolute;
        left: 12px;
    }

    .heading {
        position: absolute;
        left: 130px;
        top: 8px;
    }

    .company {
        position: absolute;
        left: 700px;
        top: 25px;
    }

    .services {
        position: absolute;
        left: 900px;
        top: 25px;
    }

    .blog {
        position: absolute;
        left: 1065px;
        top: 25px;
    }

/*Блок подвала*/

#basement {
    position: absolute;
    width: 1200px;
    height: 350px;
    background: #252B31;
}

#basement h2, p {
    color: #C1C8C7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

    .slogan {
        position: absolute;
        margin-left: 55px;
        margin-top: 30px;
    }

    .address {
        position: absolute;
        width: 400px;
        margin-left: 755px;
        margin-top: 30px;
    }

/*Блок главной страницы*/
        /*Первый экран*/
#FirstScreen {
    position: relative;
    width: 1200px;
    height: 835px;
    background: #F6FAFB;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.45);
}

#FirstScreen p {
    font-family: 'Arial';
    font-style: normal;
    font-size: 22px;
    color: #5E6668;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

    .greeting {
        position: absolute;
        width: 530px;
        margin-left: 110px;
        margin-top: 170px;
    }

    .button{
        background-color: #7BA165;
        position: absolute;
        width: 350px;
        height: 80px;
        margin-left: 180px;
        margin-top: 350px;
        text-align: center;
        padding-top: 2%;
        background: #7BA165;
        mix-blend-mode: normal;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.35);
        border-radius: 45px;
    }

    .button h2, a{
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        text-decoration: none;
    }

    .GreetingImage {
        position: absolute;
        margin-left: 660px;
        margin-top: 80px;
    }

        /*Второй экран*/
#SecondScreen {
    position: relative;
    width: 1200px;
    height: 950px;
    top: -30px;
    background: #9CA5A7;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.45), inset 0px 15px 25px rgba(0, 0, 0, 0.25);
}
    #SecondScreen p {
        color: #5E6668;
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }

    #SecondScreen a {
        
    }

    .AboutCompany {
        position: absolute;
        width: 540px;
        height: 330px;
        margin-left: 60px;
        margin-top: 60px;
        background: #F6FAFB;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        padding-top: 20px;
        padding-left: 25px;
    }
    
    .AboutServices {
        position: absolute;
        width: 470px;
        height: 330px;
        margin-left: 660px;
        margin-top: 60px;
        background: #F6FAFB;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        padding-top: 20px;
        padding-left: 25px;
    }

        .more {
            position: absolute;
            width: 100px;
            height: 60px;
            top: 280px;
        }
    
    .example {
        position: absolute;
        width: 1070px;
        height: 430px;
        margin-left: 60px;
        margin-top: 440px;
        background: #F6FAFB;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        padding-top: 20px;
        padding-left: 25px;
    }
    .FirstExample {
        position: absolute;
        margin-left: 5px;
        top: 80px;
        text-align: center;
    }

    .FirstSeparator {
        position: absolute;
        width: 300px;
        height: 0px;
        left: 205px;
        top: 220px;
        border: 2px solid rgba(37, 43, 49, 0.8);
        transform: rotate(90deg);
        background-color: #252B31;
    }

    .SecondExample {
        position: absolute;
        left: 380px;
        top: 80px;
        text-align: center;
    }
    
    .SecondSeparator {
        position: absolute;
        width: 300px;
        height: 0px;
        left: 557px;
        top: 220px;
        border: 2px solid rgba(37, 43, 49, 0.8);
        transform: rotate(90deg);
        background-color: #252B31;
    }

    .ThirdExample {
        position: absolute;
        left: 735px;
        top: 80px;
        text-align: center;
    }

/*Блок "О компании" */

#AboutCompanyContainer {
    position: absolute;
    width: 1200px;
    height: 1800px;
    background: #9CA5A7;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.25);
}

    #AboutCompanyContainer h2{
        text-align: center;
        font-size: 35px;
    }

    #AboutCompanyContainer ul{
        font-size: 30px;
        color: #3d4344;
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }

    #AboutCompanyContainer p {
        color: #5E6668;
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        font-size: 28px;
    }
.AboutCompanyHeadingMain {
    position: absolute;
    width: 1100px;
    height: 90px;
    left: 50px;
    top: 40px;
    background: #F6FAFB;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    text-align: center;
}

.AboutCompanyText {
    position: absolute;
    width: 520px;
    height: 480px;
    left: 50px;
    top: 160px;
    background: #D8EECB;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}

.AboutCompanyHeadingPartners {
    position: absolute;
    width: 330px;
    height: 480px;
    left: 720px;
    top: 160px;
    background: #F6FAFB;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}
    .AboutCompanyHeadingPartners ul {
        text-decoration: underline;
        text-decoration-color: #3d4344;
        line-height: 65px;
    }

.AboutCompanyHeadingBenefit {
    position: absolute;
    width: 530px;
    height: 100px;
    left: 50px;
    top: 710px;
    background: #F6FAFB;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    text-align: center;
}

.AboutCompanyHeadingContacts {
    position: absolute;
    width: 530px;
    height: 100px;
    left: 620px;
    top: 710px;
    background: #F6FAFB;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.AboutCompanyBenefitList {
    position: absolute;
    width: 430px;
    height: 900px;
    left: 50px;
    top: 840px;
    background: #F6FAFB;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}

.AboutCompanyContactsContainer {
    position: absolute;
    width: 430px;
    height: 900px;
    left: 620px;
    top: 840px;
    background: #F6FAFB;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}

/*.map {
    top: 1000px;
    left: 670px;
    width: 430px;
    height: 450px;
} */